h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 700;
    line-height: initial;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
p {
    margin-bottom: 0;
}