header nav.log-user {
    grid-column: 3 / 4;
}
nav.log-user ul {
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}
li.register {
    background: var(--main-color);
}
li.register:hover {
    background: var(--second-color);
}
li.register:hover a {
    color: var(--main-color);
}

li.login {
    background: var(--second-color);
}
li.login a{
    color: var(--main-color);
}
li.login:hover {
    background: var(--main-color);
}
li.login:hover a {
    color: var(--second-color);
}

nav.log-user label {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav.log-user.user {
    display: flex;
    justify-content: end;
    padding-right: 20px;
    position: relative;
}

nav.log-user label span {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 80%;
    background-image: url("../../assets/icons/user.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
nav.log-user label span::after {
    content: "▼";
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--main-color);
    font-size: 12px;
    background: var(--second-color);
    border-radius: 25px;
    text-align: center;
}

nav.log-user .sesion-container,
nav.log-user input[type="checkbox"].user {
    display: none;
}
input[type="checkbox"].user:checked ~ div.sesion-container{
    position: absolute;
    width: 125px;
    height: 80px;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(45%);
    color: var(--main-color);
    background-color: rgba(0, 0, 0, 0.6);
    border-left: 2px solid var(--main-color);
    border-right: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

nav.log-user div.sesion-container form label {
    display: block;
    width: 120px;
    height: 30px;
    font-weight: bold;
    text-align: center;
}
nav.log-user div.sesion-container form input[type="submit"] {
    appearance: none;
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: var(--second-color);
    background-color: var(--main-color);
    border: none;
    border-radius: 14px;
    position: relative;
    left: calc(50% - 50px);
    bottom: 3px;
}

@media screen and (max-width: 768px) {
    header nav.log-user {
        grid-column: 3 / 4;
    }
    nav.log-user ul {
        justify-content: center;
    }
    nav.log-user ul li {
        margin: 0 10px;
        text-align: center;
    }
}
